/* Estilos globales */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 20px;
    font-family: Tahoma;
    color:rgb(255, 255, 255);   
    top: 0px;
    background-color: #dab7b2;
    text-align: left;
}

#logo-watt {
    display: inline-block;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    margin-right: 10px;
}

h1 {
    display: inline-block;
    font-family: cursive;
    font-size: 2.3em;
    margin: 0;
}

h2 {
    color: rgb(88, 87, 87);
    font-family: cursive;
    font-size: 30px;
}

h3 { 
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 25px;
}
#nav-header {
    padding: 10px 10px 10px 0;
    background-color: #bb837a;

}
#nav-header a {
    color: white;
    text-decoration: none;
    font-family: cursive;
    font-size: 1.3em;
    border-right: 1px solid;
    padding: 10px;
    margin-left: -7px;
}
#nav-header a:hover {
    background-color: #834f47;
}

#nav-header a:first-child {
    margin-left: 0;
}

footer {
    color: rgb(255, 255, 255);
    background-color: #dab7b2;
    font-size: 20px;
    padding: 35px;
}
#redes-nav {
    display: inline-block;
    padding-left: 20px;
    margin-left: 12px;
    border-left: 1px solid white;
}
#redes-nav a {
    color: white;
    font-size: 18px;
}

/* Terminan estilos globales */

/* Pagina de Inicio */
#banner {
    width: 100%;
    max-width: 1280px;
}
#texto-que-aprendi {
    margin: 40px 0 40px;
}
.contenedor {
    padding: 0 37px;  
}
.cajas {
    width: 100%;
    margin: 20px 0;
}
.caja-uno {
    background-color: #ccc2c1;
    width: 48%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    display:inline-block;
}
.caja-dos {
    background-color: #bb837a; 
    width: 48%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    display:inline-block;
}
.listado {
    list-style-type: none;
    padding: 0;
}
.listado li {
    color: white;
    font-size: 18px;
    margin: 15px 0;
}
.listado li span { 
    position: relative;
    color:white;
    top: -5px;
    font-family: cursive;
    font-size: 16px;
    margin: 15px 0;
}
.listado li i {
    font-size: 15px;
    margin-right: 10px;

}
/* Final de la pagina de inicio */

/* Pagina Biografia */
#foto-perfil {
    width: 200px;
    float: left;
    margin-right: 15px;
}
#btn-leer-mas {
    background-color: #dab7b2;
    font-family: cursive;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border:none;
    padding: 10px 15px;
    margin: 10px 0px 35px;
    box-shadow: 0px 1px 3px #d1d0d0;
}
#btn-leer-mas:hover {
    background-color: #94706b;
}
    #leer-mas {
    display: none;
}
/* Final de Biografia */


/* Pagina Galeria */
#galeria {
    margin: 20px 0 80px;
}
#boton-familia {
    background-color: #bb837a;
}
#boton-hobbies, #boton-trabajo  {
    background-color: #dab7b2;
}
#boton-hobbies, #boton-familia, #boton-trabajo  {
    font-family: cursive;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border:none;
    padding: 10px 15px;
    margin: 10px 0px 35px;
    box-shadow: 0px 1px 3px #d1d0d0;
    cursor: pointer;
    }
 #boton-trabajo:hover {
        background-color: #bb837a; 
    }
#trabajo, #hobbies {
    display: none;
}
.fotos-todas {
    display: inline-block;
    margin: 4px;
}
.fotos-todas img {
    width: 100%;
    max-width: 280px;
    min-width: 100px;
}
.fotos-todas :hover {
    transform: scale(1.1);
}
